<!DOCTYPE html>
<head>
<%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/header.ejs') %>
<h1>Data Test</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Tanggal Registrasi</th>
			<th>No Anggota</th>
			<th>Name</th>
			<th>No NIK</th>
			<th>Tanggal Lahir</th>
			<th>Alamat</th>
			<th>Pekerjaan</th>
			<th>Jenis Kelamin</th>
			<th>No Telepon</th>
			<th>Status</th>
			<th></th>
		</tr>	
	<thead>

	<tbody>
	<% data.forEach(entry => { %>
		<tr>
			<td>Register Date</td>
		<!-- <td><%= entry.registered_at %></td> -->
		<!-- <td><%= entry.member_id %></td> -->
			<td>id member</td>
			<td><%= entry.name %></td>
			<td><%= entry.ktp_num %></td>
			<td>birthdate</td>
			<!-- <td><%= entry.birthdate %></td> -->
			<td>address</td>
			<td>occ</td>
			<td>gender</td>
			<td>telp</td>
			<td>status</td>
			<td>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal-<%= entry.id %>">Edit</button>
				<button type="" class="btn btn-danger"><a href="/member/del/<%= entry.id %>">Delete</a></button>
			</td>
		</tr>
		<form method="POST" action="/member/edit/<%= entry.id %>">
			<div class="modal fade" id="editModal-<%= entry.id %>" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="wrap-input100" data-validate = "Valid email is required: ex@abc.xyz">
								<label data-error="wrong" data-success="right" for="orangeForm-name">Name</label>
								<input autocomplete="off" type="text" name="name" id="orangeForm-name" class="form-control validate" value="<%= entry.name %>">
							</div>
							<!-- <div class="wrap-input100">
								<label data-error="wrong" data-success="right" for="orangeForm-name">Occupation</label>
								<input type="text" name="occupation" id="orangeForm-name" class="form-control validate" value="<%= entry.occupation %>">
							</div> -->
						</div>
						<div class="modal-footer">
							<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</tbody>
	<% }) %>
	</thead>
</table>
<nav aria-label="Page navigation example">
	<ul class="pagination">
		<% if (page > 1) { %>
	  <li class="page-item"><a href="/member?page=<%=page-1%>">Prev</a></li>
		<% } %>
		<% if (page < maxPage) { %>
	  <li class="page-item"><a href="/member?page=<%=page+1%>">Next</a></li>
		<% } %>
	</ul>
  </nav>
<a href="/register"><button>Add new member</button></a>
<a href="/dashboard"><button>Back to dashboard</button></a>
</body>
</html>